
.experiencia {
    margin: auto;
    width: 90vw;
    height: 65vh;
    background-color: rgba(240, 248, 255, 0.048);
    box-shadow: 1px 1px  15px black;
    margin-bottom: 20px ;
}

.experiencia__imagem {
    width: 98px;
    
}

.experiencia__titulo {
    color: var(--paragrafo);
    font-family: var(--fonte-principal);
    font-size: 20px;
    text-transform: uppercase;
    padding: 2em 0;
    font-weight: 600;
    letter-spacing: 2.4px;
    text-align: center;
}

.experiencia__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.projeto__paragrafo {
    color: var(--branco);
}