.cabecalho {
    width: 100vw;
    height: 82px;
    background-color: var(--preto);
    box-shadow: 0px 4.364px 16px -2.182px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.295);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24

}
.container {
    display: flex;
    align-items: center;
    
    
}

.cabecalho__menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0.1%;
    width: 50vw;
    z-index: 100;
    border: 1px solid var(--card-color);
}
.container__botao:checked~.cabecalho__menu {
    display: block;
}
.cabecalho__menu-hamburguer {
    color: var(--branco);
}
.container__botao {
    display: none;
}

.lista-menu__titulo,
.lista-titulo {
    padding: 1em ;
    background-color: var(--preto);
}

.lista-titulo {
    text-align: center;
    color: var(--branco);
    font-size: 0.8em;
    letter-spacing: 0.3em;
    font-weight: 800;
    font-family: var(--fonte-secundaria);
    background-color: var(--preto);
    background: linear-gradient(116deg, #FF8660 71.79%, #9A33FF 95.51%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}
.lista-menu__link {
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    font-family:var(--fonte-principal);
    font-size: 0.8em;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-shadow: 3px 3px 10px var(--preto);
}
.lista-menu__titulo:hover {
    background-color: rgba(255, 255, 255, 0.158);
    border: 1px solid #FF8660;    
}
